* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #f7f7ff;
    color: #0a2342;
  }
  
  .image-generator-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .image-generator-container h1 {
    font-size: 28px;
  }
  
  .image-generator-container h1 .dalle {
    color: #fff;
    background: #0a2342;
    padding: 0 8px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .content .prompt-input,
  .content .generate-btn {
    padding: 8px 24px;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 30px -8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .content .generate-btn {
    background: #2b4570;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all 400ms ease;
  }
  
  .content .generate-btn:hover {
    background: #0a2342;
  }
  
  .image-container {
    width: 400px;
    height: 400px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .download-btn {
    display: flex;
    gap: 8px;
    background: #0a2342;
    color: #fff;
    width: fit-content;
    padding: 4px 16px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 13px;
    text-transform: uppercase;
    align-items: center;
    margin-top: 8px;
  }
  
  .download-btn .icon {
    width: 20px;
  }